@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
body{
    background-color: #F9F9F9;
}
.navbar__logo{
    width: 125px;
}
.navabar__bg{
    background-color: #2E4159;
}
.secondary__bg{
    background-color: #F2C572;
}

.btn__primary{
    background-color: #4E3C59;
    color: white;
}

.btn__primary:hover{
    background-color: #4e3c59c2;
    color: white;
}

.contact__queries{
    padding: 5em 3em;
}

.footer__text{
    font-size: 15px;
}

.skillsets__container{
    min-height: 475px;
}

.skillsets__container--icons i{
    font-size: 50px;
}

.rotate-bg-about{
    position: absolute;
    left: 0px;
    width: 100%;
    min-height: 425px;
    background: linear-gradient(134deg, #80745c 50%, #A69677 0%);
    transform: skewY(3deg);
    z-index: -1;
    pointer-events: none;
}


.rotate-bg {
    position: absolute;
    left: 0px;
    width: 100%;
    min-height: 425px;
    background: linear-gradient(-134deg, #f2c57273 50%, #F2C572 0%);
    transform: skewY(-3deg);
    z-index: -1;
    pointer-events: none;
}

@media only screen and (max-width: 770px) {
    
.about__image{
    width: 125px !important;
}
.about__text{
    font-size: 18px !important;
}
}