@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

.navbar__logo{
    width: 125px;
}
.navabar__bg{
    background-color: #2E4159;
}

.footer__text{
    font-size: 14px;
}